@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Hind:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Hind", sans-serif;
}

.navbar {
    transition: background-color 0.4s, height 0.4s;
    height: 100px;
    background-color: transparent; 
}

.navbar-light {
    background-color: white !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#nav-link, .navbar-brand {
    color: white;
}

.nav-link {
    font-weight: bold;
}

#nav-link {
    text-align: center;
    font-size: 18px;
    padding-left: 2rem;
    transition: color 0.4s, font-size 0.4s;
    font-weight: 300;
}

.navbar-brand {
    font-weight: bold;
    font-size: 30px;
    transition: font-size 0.4s;
    margin-right: auto;
    margin-left: 2rem; 
}

.navbar-brand:hover {
    color: white;
}

.navbar-toggler {
    border: none;
    text-align: center;
    margin-right: 1rem;
}

.fa-sharp {
    color: white;
    font-size: 30px;
    border: none;
}

.navbar-scroll {
    height: 60px;
}

.fullscreen-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    transition: left 0.4s ease;
}

.fullscreen-menu.show {
    left: 0;
}

.fullscreen-menu .navbar-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreen-menu .nav-link {
    font-size: 24px;
    margin: 10px 0;
}

.close-menu {
    position: absolute;
    top: 10px;
    right: 34px;
    font-size: 60px;
    cursor: pointer;
}

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('landing-background.png') center no-repeat;
    background-size: cover;
    filter: brightness(50%);
    z-index: -1;
}

#home .container {
    position: relative;
    z-index: 1;
}

.auto-type {
    text-align: center;
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
    transition: font-size 0.3s;
}

#about {
    background-color: #ffffff;
    height: 40rem;
}

.about-title {
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 55px;
    margin-bottom: 40px;
    transition: font-size 0.3s;
}

.about-info {
    font-size: 20px;
    font-weight: 300;
    color: #999999;
    line-height: 2.4rem;
    margin-bottom: 0;
    letter-spacing: normal;
}

#projects {
    height: 65rem;
    background-color: #f9f9f9;
}

.projects-title {
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 40px;
    transition: font-size 0.3s;
}

.project {
    color: inherit;
    text-decoration: inherit;
}

.project:hover {
    position: relative;
    transition: transform 0.3s ease; 
}

.project:hover {
    transform: translateY(-0.3rem); 
}

.project-title {
    font-family: "Eczar", serif;
}

.project-card {
    width: 100%;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 100%;
}

.img-container {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    display: block;
}

.project-type {
    vertical-align: top;
    display: inline-block;
    width: max-content;
    box-shadow: inset 0 -6px 0 #70e0ff;
    -moz-box-shadow: inset 0 -6px 0 #70e0ff;
    -webkit-box-shadow: inset 0 -6px 0 #70e0ff;
    -khtml-box-shadow: inset 0 -6px 0 #70e0ff;
}

.cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
}

#contacts {
    height: 20rem;
}

.contacts-container {
    display: grid;
    grid-template-columns: auto auto;
}

.contacts-title {
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 40px;
    transition: font-size 0.3s;
}

.contact-element {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mail {
    margin: 0;
}

.mail-title {
    font-weight: 700;
}

#mail {
    text-decoration: underline;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.fa-envelope, .fa-github {
    font-size: 26px;
}

.icon-container {
    border: 1px solid black;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    #projects {
        height: 58rem;
    }
}

@media only screen and (max-width: 991px) {
    .about-title {
        font-size: 40px;
    }

    .about-info {
        line-height: 2.2rem;
    }

    .projects-title {
        margin-bottom: 40px;
    }

    .cards-container {
        grid-template-columns: auto;
        grid-row-gap: 4rem;
    }

    #projects {
        height: 94rem;
    }

    #contacts {
        height: 25rem;
    }

    .contacts-container {
        grid-template-columns: auto;
        grid-row-gap: 2rem;
    }
}

#footer {
    height: 4rem;
    background-color: #2d2e32;
}

.footer-text {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .auto-type {
        font-size: 3rem;
    }

    #projects {
        height: 90rem;
    }
}

@media only screen and (max-width: 640px) {
    .about-title {
        font-size: 35px;
    }

    .about-info {
        font-size: 18.5px;
    }
}

@media only screen and (max-width: 575px) {
    .about-title, .projects-title, .contacts-title {
        text-align: center;
    } 
}


@media only screen and (max-width: 510px) {
    #projects {
        height: 82rem;
    }
}

@media only screen and (max-width: 444px) {
    #about {
        height: 40rem;
    }

    #projects {
        height: 80rem;
    }
}

@media only screen and (max-width: 410px) {
    #projects {
        height: 77rem;
    }
}

@media only screen and (max-width: 391px) {
    .about-title {
        font-size: 30px;
    }

    .about-info {
        font-size: 18px;
    }

    #projects {
        height: 70rem;
    }
}

@media only screen and (max-width: 326px) {
    #about {
        height: 55rem;
    }

}

@media only screen and (max-width: 274px) {
    #about {
        height: 60rem;
    }
}
